beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
customtkinter==5.1.2
cycler==0.11.0
darkdetect==0.8.0
decorator==5.1.1
fonttools==4.39.3
future==0.18.3
geocoder==1.38.1
geographiclib==2.0
geopy==2.3.0
idna==3.4
importlib-resources==5.12.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.2
packaging==23.1
pandas==2.0.0
Pillow==9.5.0
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
ratelim==0.1.6
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soupsieve==2.4
threadpoolctl==3.1.0
tkintermapview==1.29
tzdata==2023.3
urllib3==1.26.15
zipp==3.15.0
